.form {
  max-width: 768px;
  margin: 0 auto !important;
  padding: 20px !important;
  text-align: center;
}

.form-item {
  margin: 0 !important;
}

.form-select {
  width: 100%;
}

.form-select__elem {
  width: 90px !important;
}

.form-space {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.form-input {
  text-align: center;
}

.form-btn-add {
  margin-top: 15px;
}

.icon-minus {
  font-size: 22px;
  color: red !important;
}

@media (max-width: 575px) {
  .ant-form .ant-form-item .ant-form-item-label,
  .ant-form .ant-form-item .ant-form-item-control {
    flex: unset !important;
  }
}

@media (max-width: 768px) {
  .form-space {
    margin-bottom: 20px;
  }

  .form-select__elem {
    width: 100% !important;
  }

  .form-space > div:first-child {
    width: 100%;
    margin: 0 0 10px 0 !important;
  }
}
